@use "./Styles/Global.scss" as *;

.app{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, rgb(77, 77, 77), rgb(83, 83, 83), rgb(94, 94, 94), rgb(74, 74, 74));
	background-size: 500% 500%;
	animation: gradient 4s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    &__t{
        font-size: 6rem;
        font-weight: 800;
        font-style: italic;
        margin-top: .5rem;
        color: whitesmoke;
        text-align: center;
    }
    &__ht{
        font-size: 2.5rem;
        margin-top: 2rem;
        color: whitesmoke;
        text-align: center;
    }
    &__hh{
        font-size: 1.5rem;
        text-align: center;
        align-self: center;
        color: whitesmoke;
        margin-top: 1rem;
        width: 50rem;
    }
}
.cc{
    text-align: center;
    margin: 7.23rem 0 1rem 0;
    &__link{
        color: whitesmoke;
        text-decoration: none;
        font-weight: 800;
        background: linear-gradient(to right, rgb(245, 51, 90),rgb(0, 174, 255),rgb(225, 0, 255));
        background-size: 200% 200%;
        animation: rainbow 4s ease-in-out infinite;
        background-clip: text;
        -webkit-background-clip:text;
        transition: color .2s ease-in-out;
        &:hover{
            color:rgba(255, 255, 255, 0);
        }
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 90% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }
  